#autocomplete
{
	padding-right: 30px;
}

.ui-widget-overlay
{
	background: #0b0b0b none repeat scroll 0 0 !important;
	opacity: 0.8 !important;
}

#autocomplete-target
{
	position: absolute;
	top: 37px;
	left: 0;
	padding: 0px;
	width: 100%;
	z-index: 500;
	display: none;
}

#autocomplete-target ul
{
    display: block;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    box-shadow: 0 3px 7px rgba(0,0,0,.2);
    z-index: 200;
    border: solid #ccc;
    border-width: 0 1px 1px;
    cursor: default;
    margin: 0px;
    overflow-x: scroll;
    max-height: 195px;
}

#autocomplete-target ul li
{
	padding: 10px 12px;
    font-size: 12px;
    line-height: 12px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    color: #666;
	cursor: pointer;
}

#autocomplete-target ul li:hover, #autocomplete-target ul li.actv
{
	background: #f8f8f8;
}